.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 300px;
  width: 100vw;
  color: #a6a6a6;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.footer-icons .icon {
  font-size: 30px;
  margin: 15px;
  cursor: pointer;
}

.footer-icons .icon:hover {
  color: white;
}

.footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-bottom: 1rem;
}

.footer-text p {
  white-space: nowrap;
  padding: 0 5px;
}

a{
  text-decoration: none;
  color: inherit;
}